/*MENU LATERAL PÁGINA CADASTRO */
#menu_lateral{
	float: left;
}

#caixa_t{
	background: url(../Images/background_menu_left_top.png) no-repeat;
	width: 194px;
	height: 45px;
	
}
#caixa_cent{
	background: url(../Images/background_center_menu_left.png) repeat-y;
	width: 194px;
}
#caixa_cent a{
	font-size: 20px;
	color: #333;
	
}
#caixa_cent a:hover{
	color: blue;
}
#caixa_cent hr{
	width: 150px;
}
#caixa_bot{
	background: url(../Images/background_menu_left_bottom.png) no-repeat;
	width: 200px;
	height: 60px;
}
/*FORMULÁRIO PÁGINA CADASTRO */
#form_cadastro{
	text-align: left;
	margin-left: 280px;
	margin-top: 20px;
	
